@model FinalProject.Areas.Identity.Data.FinalProjectUser

@{
    ViewData["Title"] = "Info";
}
<body style="background-color:white;">
<h1>User Details</h1>


@if (Model != null)
{
        <h1>@Model.FirstName @Model.LastName</h1>
        
        <right><h1>@Model.Email</h1></right>
       
    <table class="table">
        <thead>
            <tr>
               
                <th>Clock In</th>
                <th>Clock Out</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @foreach (var timeRecord in ViewBag.TimeRecords)
                    {
                        @timeRecord.Clock_In.ToString("dd-MMM-yyyy hh:mm tt")
                        <br />
                    }
                </td>
                <td>
                    @foreach (var timeRecord in ViewBag.TimeRecords)
                    {
                        @timeRecord.Clock_Out.ToString("dd-MMM-yyyy hh:mm tt")
                        <br />
                    }
                </td>
                <td>
                    @foreach (var timeRecord in ViewBag.TimeRecords)
                    {
                        var timeDifference = timeRecord.Clock_Out - timeRecord.Clock_In;

                        string formattedTime = string.Format("{0:D2}hr {1:D2}min",
                        (int)timeDifference.TotalHours, timeDifference.Minutes);

                        

                        @formattedTime
                        <br />
                    }

                </td>
            </tr>
        </tbody>
    </table>
}
</body>