@model IEnumerable<FinalProject.Areas.Identity.Data.TimeTable>

@{
    ViewData["Title"] = "Dashboard";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FinalProjectUser.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.FinalProjectUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clock_In)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clock_Out)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalProjectUser.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalProjectUser.Email)
                </td>
                <td>@item.Date.ToString("dd-MMM-yyyy")</td>

                <td>@item.Clock_In.ToString("dd-MM-yyyy HH:mm")</td>

                <td>@item.Clock_Out?.ToString("dd-MM-yyyy HH:mm")</td>
                
            </tr>
        }
    </tbody>
</table>
