@model IEnumerable<FinalProject.Areas.Identity.Data.FinalProjectUser>

@{
    ViewData["Title"] = "Profile";


}


<style>
    /* Your existing styles */

    .profile-photo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .info-group {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .info-label {
        font-weight: bold;
        margin-right: 30px;
        min-width: 120px;
    }

    .form-input {
        flex: 0.9;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
</style>

<div class="containers" >
    @foreach (var user in Model)
    {
        <div class="profile-photo-container">
            @if (@user.Photo != null)
            {
                <img src="data:image/*;base64,@(Convert.ToBase64String(user.Photo))" style="width: 200px; height: 200px; object-fit: cover; border-radius: 200px" alt="Profile Photo" class="profile-photo" />
            }
        </div>
        <br />
        <form asp-action="UpdateProfile" asp-controller="Times" method="post" >

            <div class="info-group">
                <span class="info-label">Name:</span>
                <input type="text" class="form-control" id="FirstName" name="FirstName" value="@user.FirstName" />
                <input type="text" class="form-control" id="LastName" name="LastName" value="@user.LastName" />
            </div>

            <div class="info-group">
                <span class="info-label">Phone Number:</span>
                <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" value="@user.PhoneNumber" />
            </div>

            <div class="info-group">
                <span class="info-label">Date of Birth:</span>
                @if (user.DOB != null)
                {
                    <input type="text" class="form-control" id="DOB" name="DOB" value="@user.DOB.Value.ToString("yyyy-MMM-dd" )" />
                }
                else
                {
                    <input type="text" class="form-control" id="DOB" name="DOB"  />
                }
                
                
            </div>

            <div class="info-group">
                <span class="info-label">Email:</span>
                <input type="text" class="form-control" id="Email" name="Email" value="@user.Email" />
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    }

    <form asp-action="PostPhoto" asp-controller="Times" method="post" enctype="multipart/form-data">
        @foreach (var user in Model)
        {
            <input type="hidden" name="userId" value="@user.Id" />
        }
        <div class="form-group">
            <input type="file" class="form-control-file" id="photo" name="photo">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>